.project_footer {
  
  .co-py{
    background-color: $black;
    padding: 45px 0px;
    font-family: $main-font;
    font-weight: 300;
    @include min(200) {
    @include fontSize(14px);
    }
    @include min(1200) {
      @include fontSize(12px);
      padding: 35px 0px;
    }
    @include min(1600) {
      @include fontSize(16px);
      padding: 45px 0px;
    }
    .our-web{
    margin-bottom: 10px;
    text-decoration: underline;
    text-transform: uppercase;
      @include min(200) {
    @include fontSize(22px);
    margin-bottom: 5px;
    }
      @include min(992) {
    @include fontSize(26px);
    margin-bottom: 10px;
    }
    @include min(1200) {
    @include fontSize(22px);
    margin-bottom: 5px;
    }
    @include min(1400) {
    @include fontSize(25px);
    margin-bottom: 8px;
    }
    @include min(1600) {
      @include fontSize(32px);
    }
    &:hover{
      text-decoration: none;
    }
    }
    .tw-dt{
      margin-top: 5px;
      @include max(1399) {
         margin-top: 3px;
      }
    }
  }
  a{
    font-weight: 500;
  }
}


.modal{
  background-color: rgba(0, 0, 0, 0.3);
}
.modal.show .modal-dialog {
    transform: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: auto;
    z-index: 9999;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    right: 0;
    display: flex;
}
.modal-header {
  background-color: hwb(357deg 11% 7%);
  @include max(575) {
    background-color: #fff;
  }
  .modal-title {
    margin-bottom: 0;
    line-height: var(--bs-modal-title-line-height);
    font-size: 40px!important;
    margin-left: 15px;
    color: $white!important;
    @include max(1399) {
      font-size: 30px!important;
    }
    @include max(991) {
      font-size: 28px!important;
    }
    @include max(575) {
    color: #000!important;
  }
}
.btn-close{
    background: #000;
    margin-right: 5px;
    position: relative;
    opacity: 10 !important;
  &:before{
    content: "x";
    position: absolute;
    top: -10px;
    right: 9px;
    font-size: 35px;
    color: #fff;
    @include max(1799) {
      top: -11px;
      right: 8px;
    }
    @include max(1599) {
          top: -7px;
    right: 8px;
    font-size: 28px;
    }
    @include max(1399) {
      top: -6px;
      font-size: 26px;
      right: 8px;
    }
    @include max(1199) {
      top: -5px;
      font-size: 24px;
    }
    @include max(767) {
      top: -4px;
      right: 9px;
    }
  }
}
}